asn1crypto==0.24.0
autopep8==1.4.3
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
cryptography==3.2
Django==1.11.23
django-appconf==1.0.3
django-cors-headers==2.4.0
html2text==2018.1.9
idna==2.8
Pillow==5.4.1
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pyOpenSSL==18.0.0
PySocks==1.6.8
pytz==2018.9
requests==2.21.0
ruamel-yaml==0.15.46
selenium==3.141.0
six==1.12.0
urllib3==1.24.2
win-inet-pton==1.0.1
wincertstore==0.2
