{% extends "settle/base.html" %}
{% block body_block %}
<h2 class="form-signin-heading">Your username is how other Settlers will see you. It
    will be used to identify you when you post, comment or like things.
</h2>
<form role="form" method="post" action=".">
    {% csrf_token %}
    <div class="form-group">
        <p class="required"><label class="required" for="id_username">
                Choose a Username</label>
            <input class="form-control" id="id_username" maxlength="30" name="username" type="text" />
        </p>
        <p class="required"><label class="required" for="id_password1">
                Password:</label>
            <input class="form-control" id="id_password1" name="password1" type="password" />
            <span class="helptext">
                The password must<br/> - be at least 8 characters long<br/> - contain an upper and lowercase letter
            </span>
        </p>
        <p class="required">
            <label class="required" for="id_password2">
                Confirm Password</label>
            <input class="form-control" id="id_password2" name="password2" type="password" />
        </p>
    </div>
    <button type="submit" class="btn btn-default">Sign Up</button>
</form>
{% endblock %}