.pb-1 {
    width: 70%;
}

.main-div {
    margin: auto;
    width: 70%;
}

.details-div {
    text-align: center;
}

.remove-games {
    padding-right: 50px;
    text-align: right;
}

.add-games {
    padding-left: 50px;
    text-align: left;
}

.game-header {
    font-weight:400;
}

.remove {
    width: 37%;
}

.add {
    width: 35%;
}

.tag-name {
    padding-right: 10px;
}