/* ---------------------- FULL DOCUMENT FORMATTING */

body {
    background-color: #F5F5F5;
    position: relative;
}

/* ---------------------- NAVIGATION BAR */

#navBar {
    background-color:#305475;
}

.navbar-brand {
    color:#3F4244 !important;
    background-color: #56c9ff;
}

#navLogo {
    color:#484C4F;
    background-color:#56C9FF;
    padding: 1% 1% 1% 1%;
}

#logo {
    position: relative;
    top:-9%;
    width: 30px;
    height: 30px;
}

/* ---------------------- NAVIGATION BAR TEXT */

.navText {
    color: #E8EBED !important;
}

a.nav-link:hover {
    color: #D8D8D8 !important;
}

a.nav-link:focus {
    color: #CCCCCC !important;
}

/* ---------------------- DROPDOWN MENU FOR LOGIN */

#collapseMenu {
    position: absolute;
    width: 29.5%;
    left: 69%;
}

#loginDropdownBox {
    background-color: #305475;
    border-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* ---------------------- FORM FORMATTING */

.bigMenuForm {
    width: 100%;
    margin-bottom: 1%;
}

.smallMenuForm {
    width: 95%;
}

/* ---------------------- BUTTON FORMATTING */

.btn-primary, .btn-primary:active, .btn-primary:visited {
    color: #3F4244 !important;
    background-color: #56C9FF !important;
    border-color: #56C9FF !important;
}

.btn-primary:hover {
    color: #3F4244 !important;
    background-color: #56c9ffd7 !important;
    border-color: #56c9ffd7 !important;
}

/* ---------------------- MODAL CSS */

.img-responsive {
    max-height: 30rem;
    max-width: 35rem;
}
  
.image-bg {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(max-height: 991px) {
    .flex-me .image-bg {
        min-height: 80vh;
    }
}

@media (min-width: 992px) {
    .flex-me {
        display: flex;
    }
    .image-bg {
        width: calc(100% + 15px);
    }
}

.modalPic {
    cursor: pointer;
}

/* ---------------------- */