/* ---------------------- FULL DOCUMENT FORMATTING */

body {
    background-color: #F5F5F5;
    position: relative;
}

/* ---------------------- NAVIGATION BAR */

#navBar {
    background-color:#305475;
    padding: 0% 1% 0% 0%;
}

#navLogo {
    color:#484C4F;
    background-color:#56C9FF;
    padding: 1% 1% 1% 1%;
}

#logo {
    height: 1.55em;
    width: 1.55em;
}

/* ---------------------- NAVIGATION BAR TEXT */

.nav-link {
    color: white !important;
    position: absolute;
    font-size: 22px;
}

a.nav-link:hover {
    color: #D8D8D8 !important;
}

a.nav-link:focus {
    color: #CCCCCC !important;
}

#homeText {
    top: 11%;
    left: 17.5%;
}

#linkText {
    top: 11%;
    left: 34%;
}

#uploadText {
    top: 11%;
    left: 54%;
}

#tagText {
    top: 11%;
    left: 71%;
}

/* ---------------------- NAVIGATION BAR BUTTONS */

#loginButton {
    top: 20%;
    left: 87.2%;
    margin-right:0.5%
}

#signupButton {
    top: 20%;
    left: 92%;
}

/* ---------------------- DROPDOWN MENU FOR LOGIN */

#collapseMenu {
    position: absolute;
    width:29.5%;
    left:69%;
}

#loginDropdownBox {
    background-color:#305475;
    border-radius:0px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

#usernameField {
    width: 80%;
    margin-bottom: 1%;
}

#passwordField {
    width: 80%;
    margin-bottom: 1%;
}

#finishLoginButton {
    top: 25%;
    left: 80%;
    margin-top: 1%;
    padding: 2% 2% 2% 2%;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    color: #484C4F !important;
    border-color: #56C9FF !important;
    background-color: #56C9FF !important;
    position:absolute;
}

.btn-primary:hover {
    border-color: #4FB9EA !important;
    background-color: #4FB9EA !important;
}

/* ---------------------- MODAL CSS */

.img-responsive {
    max-height: 30rem;
    max-width: 35rem;
}
  
.image-bg {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(max-height: 991px) {
    .flex-me .image-bg {
        min-height: 80vh;
    }
}

@media (min-width: 992px) {
    .flex-me {
        display: flex;
    }
    .image-bg {
        width: calc(100% + 15px);
    }
}

.modalPic {
    cursor: pointer;
}

/* ---------------------- */