#postImg {
    max-width:15em;
    height:auto;
}

.cardTab.nav-link:hover {
    color: black !important;
}

.cardTab.nav-link:focus {
    color: black !important;
}

.active {
    color: black !important;
}