#postImg {
    max-height:20em;
    width:auto;
}

.cardTab.nav-link:hover {
    color: black !important;
}

.cardTab.nav-link:focus {
    color: black !important;
}

.active {
    color: black !important;
}