<!DOCTYPE html>

{% load staticfiles %}
{% load admintag %}

<html lang="EN">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="icon" href="{% static "images/favicon.ico" %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
    {% block style_block %}
    {% endblock %}

    <title>
        Settle My Settle - {% block title_block %}{% endblock %}
    </title>
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="nav navbar-expand-lg navbar-dark pr-2" id="navBar">

        <!-- Logo and App Name -->
        <a class="navbar-brand py-3 pl-4" href="{% url 'index' %}">
            Settle My Settle
            <img src="{% static "images/logoWAD.png" %}" alt="logo" id="logo">
        </a>

        <!-- Toggle button for when browser size gets to 768px: lets us collapse the contents of the navbar -->
        <button class="navbar-toggler ml-auto mr-2 my-2" type="button" data-toggle="collapse"
            data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Contents of the navbar (can be collapsed) -->
        <div class="collapse navbar-collapse" id="navbarToggle">

            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <!-- Item 1: Home -->
                <li class="nav-item ml-3">
                    <a class="nav-link navText" href="{% url 'index' %}">Home</a>
                </li>
                <!-- If a guest -->
                {% if user.is_anonymous %}
                <li class="nav-item ml-3">
                    <span data-toggle="tooltip" title="Please log in to see your feed">
                        <a class="nav-link disabled" href="{% url 'feed' %}">My Feed</a>
                    </span>
                </li>
                <!-- Item 3: Upload -->
                <li class=" nav-item ml-3">
                    <span data-toggle="tooltip" title="Please log in to upload posts">
                        <a class="nav-link disabled" href="{% url 'upload' %}">Upload</a>
                    </span>
                </li>
                <!-- Item 4: Suggest Tag -->
                <li class="nav-item ml-3">
                    <span data-toggle="tooltip" title="Please log in to suggest tags">        
                        <a class="nav-link disabled" href="{% url 'tags' %}">Suggest Tag</a>
                    </span>
                </li>
                {% else %}
                <!-- Item 2: My Feed -->
                <li class="nav-item ml-3">
                    <a class="nav-link navText" href="{% url 'feed' %}">My Feed</a>
                </li>
                <!-- Item 3: Upload -->
                <li class="nav-item ml-3">
                    <a class="nav-link navText" href="{% url 'upload' %}">Upload</a>
                </li>
                <!-- Item 4: Suggest Tag -->
                <li class="nav-item ml-3">
                    <a class="nav-link navText" href="{% url 'tags' %}">Suggest Tag</a>
                </li>
                {% endif %}
            </ul>

            <!-- Form for the username and password -->
            {% if user.is_anonymous %}
            <form class="form-row my-2 my-lg-0" d="login_form" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <input class="form-control ml-3 mb-2 d-lg-none smallMenuForm" type="text" placeholder="Username" name="username">
                <input class="form-control ml-3 d-lg-none smallMenuForm" type="password" placeholder="Password" name="password">
                <!-- Login button for when collapsed -->
                <button type="submit" class="btn row btn-outline-light mt-3 ml-3 d-lg-none">Login</button>
                <a href="{% url 'register' %}" class="buttonLink"><button type="button" class="btn row btn-outline-light mt-3 ml-4 d-lg-none"
                    id="signupButton">Sign up</button></a>
            </form>
            {% endif %}

            <!-- Login validity check -->
            {% if valid == False %}
                <!-- For when the screen is greater than 992px -->
                <p class="pt-3 pr-3 d-none d-lg-block" id="navLoginError">Login details invalid.</p>
                <!-- For when the screen is less than 992px -->
                <p class="pt-2 pl-3 d-lg-none" id="navLoginErrorCollapsed">Login details invalid.</p>
            {% endif %}

            {% if user.is_authenticated %}
                <!-- For when the screen is greater than 992px -->
                <p class="pt-3 pr-3 d-none d-lg-block" id="navLoginMessage">User logged in: {{ user }}</p>
                <!-- For when the screen is less than 992px -->
                <p class="pt-2 pl-3 d-lg-none" id="navLoginMessageCollapsed">User logged in: {{ user }}</p>
            {% endif %}

            <!-- Putting the buttons in a line -->
            <div class="form-inline my-2 my-lg-0">
                {% if user.is_authenticated %}
                <!-- Account button for when not collapsed -->
                <a href="{% url 'account' %}" class="buttonLink"><button type="button"
                        class="btn btn-outline-light d-none d-lg-block">Account</button></a>
                <!-- Account button for when collapsed -->
                <a href="{% url 'account' %}" class="buttonLink"><button type="button"
                        class="btn btn-outline-light ml-3 d-lg-none">Account</button>
                <a href="{% url 'logout' %}"><button type="button"
                        class="btn btn-outline-light ml-1 mr-2 my-2 my-lg-0">Logout</button></a>
                {% else %}
                <!-- Login button for when not collapsed -->
                <button type="button" class="btn btn-outline-light d-none d-lg-block" id="loginButton">Login</button>
                <a href="{% url 'register' %}" class="buttonLink"><button type="button" 
                    class="btn btn-outline-light d-none d-lg-block ml-1 mr-2 my-2 my-md-0" id="signupButton">Sign up</button></a>
                {% endif %}
            </div>
        </div>
    </nav>

    <!-- drop down menu for the login form -->
    {% if user.is_anonymous %}
    <div class="collapse" id="collapseMenu">
        <div class="card card-body d-none d-lg-block" id="loginDropdownBox">
            <form class="form-row my-2 my-md-0" d="login_form" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <input class="form-control form-control-sm my-1 bigMenuForm" type="text" name="username" value=""
                    placeholder="Username" aria-label="Username">
                <input class="form-control form-control-sm bigMenuForm" type="password" name="password" value=""
                    placeholder="Password" aria-label="Password">
                <button class="btn btn-outline-light btn-sm" type="submit" id="finishLoginButton">Submit</button>
            </form>
        </div>
    </div>
    {% endif %}

    <div id="bodyContent">
        {% block body_block %}
        {% endblock %}
    </div>

    <!-- JavaScript (For Bootstrap/Jquery) -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    {% block script_block %}
    {% endblock %}
    <script src="{% static "js/base.js" %}"></script>


</body>

</html>