{% extends 'settle/base.html' %}
{% load staticfiles %}

{% block style_block %}
    <!-- Import custom CSS here! -->
{% endblock %}

{% block title_block %}Home{% endblock %}

{% block body_block %}
    <!-- Code here! -->
    <div class="row infinite-container">
        {% for post in posts %}
            <div class="col-md-6 col-lg-4 infinite-item pb-4" align="center" style="padding-top:50px">
                <div class="row justify-content-center">
                    <p class="col-sm-10" style="background-color:#56c9ff;padding:2px;padding-left:15px;text-align: left;border-style:solid;border-width: 1px;width:90%">{{ post.author }}</p>
                </div>
                <div class="row justify-content-center">
                    <a href="{% url "post" post.id %}"><img class="img-fluid" src="{{ MEDIA_URL }}{{ post.picture }}" style="height:200px;width:300px"></a>
                </div>
                <div class = "row justify-content-center" style= "padding-top:20px">
                    <div class = "col-3 col-lg-4 col-xl-3">
                        <span class= "btn tag mb-1" style="background-color:{{ post.game_tag.colour }};width:80%">{{ post.game_tag }}</span>
                    </div>
                    <div class = "col-2 col-lg-3 col-xl-2">
                        <span class= "btn tag mb-1" style="background-color:{{ post.info_tags.all.0.colour }};width:80%">{{ post.info_tags.all.0 }}</span>
                    </div>
                    {% if post.info_tags.all.1 %}
                    <div class = "col-2 col-lg-3 col-xl-2">
                        <span class= "btn tag" style="background-color:{{ post.info_tags.all.1.colour }};width:80%">{{ post.info_tags.all.1 }}</span>
                    </div>
                    {% endif %}
                    {% if post.info_tags.all.2 %}
                    <div class = "col-2 col-lg-3 col-xl-2">
                        <span class= "btn tag" style="background-color:{{ post.info_tags.all.2.colour }};width:80%">{{ post.info_tags.all.2 }}</span>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    
      {% if posts.has_next %}
        <a class="infinite-more-link" href="?page={{ posts.next_page_number }}"></a>
      {% endif %}
    
      <div class="loading" style="display: none;">
        Loading...
      </div>
    
{% endblock %}

{% block script_block %}
    <!-- Import custom JS here! -->
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
    <script>
        var infinite = new Waypoint.Infinite({
          element: $('.infinite-container')[0],
          onBeforePageLoad: function () {
            $('.loading').show();
          },
          onAfterPageLoad: function ($items) {
            $('.loading').hide();
          }
        });
      </script>
{% endblock %}