{% extends 'settle/base.html' %}
{% load staticfiles %}
{% load admintag %}

{% block style_block %}
<link rel="stylesheet" type="text/css" href="{% static "css/post.css" %}">
{% endblock %}

{% block title_block %}View Post{% endblock %}

{% block body_block %}

<!-- Page Body -->
<div class="main-div">
  <div class="row justify-content-center">
    <div class="col-11 col-md-8">
      <div class="card my-3 tab-card">   

        <!-- Post Tabs Header -->
        <div class="card-header tab-card-header">
          <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active cardTab" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="One" aria-selected="true">Post</a>
            </li>
            <li class="nav-item">
              <a class="nav-link cardTab" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="Two" aria-selected="true">Comments ({{ comment_count }})</a>
            </li>
            <li class="nav-item">
              <a class="nav-link cardTab" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="Three" aria-selected="true">Steam News</a>
            </li>

            <!-- Delete a Post -->
            {% if request.user|has_group:"admin"  %}
            <form id="post_del_form" method="post" action="" enctype="multipart.form-data" class="ml-auto">
              {% csrf_token %}
              <li class="nav-item">
                <button type="submit" class="btn btn-outline-danger ml-auto pb-1 btn-sm" name="submit">Delete</button>
              </li>
              <input type="hidden" name="type" value="post_del" />
              <input type="hidden" name="post" value="{{ post.id }}" />
            </form>
            {% endif %}
          </ul>
        </div>

            <!-- Diplay Post, Comments and Steam News -->
            <div class="tab-content mb-4" id="myTabContent">

              <!-- Display First Tab - Post & Tags-->
              <div class="tab-pane fade show active p-3 text-center" id="one" role="tabpanel" aria-labelledby="one-tab">
                <h5 class="card-title title-card">{{ post.author }}</h5>
                <hr class="title-break" />
                <img class="card-img img-fluid modalImg" src="{{ MEDIA_URL }}{{ post.picture }}" alt="post img" id="postImg" data-toggle="modal" data-target="#pic-modal">
                <hr class="title-break" />

                <!-- Display Tags -->
                <div class="form-inline justify-content-center">
                  <h2><span class="badge badge-secondary mr-1 tagText" 
                            style="background-color:{{ post.game_tag.colour }};">{{ post.game_tag.text }}</span></h2>
                  {% if post.info_tags.all.0 %}
                    <h2><span class="badge badge-secondary tagText" 
                            style="background-color:{{ post.info_tags.all.0.colour }};">{{ post.info_tags.all.0.text }}</span></h2>
                  {% endif %}
                  {% if post.info_tags.all.1 %}
                    <h2><span class="badge badge-secondary ml-1 tagText" 
                              style="background-color:{{ post.info_tags.all.1.colour }};">{{ post.info_tags.all.1.text }}</span></h2>
                  {% endif %}
                  {% if post.info_tags.all.2 %}
                    <h2><span class="badge badge-secondary ml-1 tagText" 
                              style="background-color:{{ post.info_tags.all.2.colour }};">{{ post.info_tags.all.2.text }}</span></h2>
                  {% endif %}
                  {% if post.info_tags.all.3 %}
                    <h2><span class="badge badge-secondary ml-1 tagText" 
                              style="background-color:{{ post.info_tags.all.3.colour }};">{{ post.info_tags.all.3.text }}</span></h2>
                  {% endif %}
                  {% if post.info_tags.all.4 %}
                    <h2><span class="badge badge-secondary ml-1 tagText" 
                              style="background-color:{{ post.info_tags.all.4.colour }};">{{ post.info_tags.all.4.text }}</span></h2>
                  {% endif %}
                </div>
                <hr class="title-break" />

                <!-- Display Description -->
                <h5 class="card-title title-card">Description</h5>
                <p class="card-text text-card">{{ post.description }}</p>      
              </div>

              <!-- Display second Tab - Comments -->
              <div class="tab-pane fade p-3 text-center" id="two" role="tabpanel" aria-labelledby="two-tab">

              <!-- Comment Form -->
              {% if user.is_authenticated %}
                <form id="comment_form" method="post" action="" enctype="multipart.form-data">
                  {% csrf_token %}
                  <div class="form-group form-inline justify-content-center">
                    <label class="mr-2 mb-1" for="exampleFormControlTextarea1">Want to say something?</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="text" rows="3"></textarea>
                  </div>
                  <input type="hidden" value="com" name="type">
                  <input type="hidden" value={{ user }} name="author">
                  <button type="submit" class="btn btn-outline-secondary mb-3">Submit!</button>
                </form>
              {% endif %}
                <hr class="pb-3 comment-break" />

                <!-- Display all Comments -->
                {% if comments %}
                  {% for comment in comments %}
                  <div class="card mb-2">
                    <div class="card-header">
                      <div class="form-inline">
                        <h5 class="mr-auto">{{ comment.author }}</h5>
                        <h5 class="ml-auto">{{ comment.liking_users.count }} like{% if comment.liking_users.count != 1 %}s
                        {% endif %}
                        </h5>
                      </div>
                    </div>
                    <div class="card-body">
                      <p class="card-text">{{ comment.text }}</p>

                      <!-- Like a Comment -->
                      <div class="form-inline justify-content-center">
                      <form id="like_button" method="post" action="" enctype="multipart.form-data">
                          {% csrf_token %}
                          <input type="hidden" value="like" name="type">
                          <input type="hidden" value="{{ comment.id }}" name="comment">
                          <input type="hidden" value="{{ user }}" name="liker">
                          {% if user.is_authenticated %}
                            {% if user in comment.liking_users.all %}
                            <input class="btn btn-outline-success" type="submit" name="like" value="Unlike" />
                            {% else %}
                            <input class="btn btn-outline-success" type="submit" name="unlike" value="Like" />
                            {% endif %}
                          {% endif %}
                      </form>

                      <!-- Delete a Comment -->
                      {% if request.user|has_group:"admin"  %}
                      <form id="del_form" method="post" action="" enctype="multipart/form-data">
                          {% csrf_token %}
                          <input type="hidden" name="type" value="del" />
                          <input type="hidden" name="comment" value="{{ comment.id }}" />
                          <input class="btn btn-outline-danger ml-1" type="submit" name="submit" value="Delete" />
                      </form>
                      {% endif %}
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                  
                  <!-- Page System for Comments -->
                  <div class="pagination justify-content-center pt-3">
                    <span class="step-links">
                      {% if comments.has_previous %}
                      <a href="?page=1">&laquo; first</a>
                      <a href="?page={{ comments.previous_page_number }}">previous</a>
                      {% endif %}
      
                      <span class="current">
                        Page {{ comments.number }} of {{ comments.paginator.num_pages }}.
                      </span>
      
                      {% if comments.has_next %}
                      <a href="?page={{ comments.next_page_number }}">next</a>
                      <a href="?page={{ comments.paginator.num_pages }}">last &raquo;</a>
                      {% endif %}
                    </span>
                  </div> 
                {% else %}
                  <h6 class="card-title pt-3 title-card">There's no comments for this post - post one!</h6>
                {% endif %}      
            </div>

            <!-- Display third Tab - Steam News -->
            <div class="tab-pane fade p-3" id="three" role="tabpanel" aria-labelledby="three-tab">
              {% if result_list %}
              <div class="list-group">

                <!-- Display all relevant Steam News -->
                {% for result in result_list %}
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">
                        <a href="{{ result.link }}" target=_blank>{{ result.title }}</a>
                    </h4>
                    <strong>{{ result.feedlabel }}</strong>
                    {% if result.author %}
                    - {{ result.author }}
                    {% endif %}
                    <p>{{ result.summary }}</p>
                </div>
                {% endfor %}
              </div>
              {% else %}
                <h5 class="card-title text-center steam-card-title">There's no news from Steam for this game!</h5>
              {% endif %}       
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block script_block %}
<!-- Import custom JS here! -->
{% endblock %}