{% extends 'settle/base.html' %}
{% load staticfiles %}

{% block style_block %}
{% endblock %}

{% block title_block %}Register{% endblock %}

{% block body_block %}
<div class="page-title-div">
    <p class="page-title">Create an Account</p>
    To set up an Account on Settle My Settle please choose a Username, enter an email address and choose a password.
</div>
<hr class="pb-1" style="width:70%" />
<br />

<div style="margin:auto;width:50%;" align="center">
    <div align="left">
        {% if signup_form.errors %}
        {% for field in signup_form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ field.name }} - {{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in signup_form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}

        {% if user.is_authenticated %}
        <strong><br />You have already signed up</strong> <br></strong>
        <a href="{% url 'index' %}">Click here to return to the homepage.</a><br />
        {% else %}
        <form id="signup_form" method="post" action="{% url 'register' %}" enctype="multipart.form-data">

            {% csrf_token %}
            <div class="form-group row">
                <label for="email_in" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="email_in" name="email"
                        aria-describedby="em_help_block"></input>
                    <small id="em_help_block" class="form-text text-muted">
                        Please enter your email address.
                    </small>
                </div>
            </div>
            <div class="form-group row">
                <label for="un_in" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="un_in" name="username"
                        aria-describedby="un_help_block"></input>
                    <small id="un_help_block" class="form-text text-muted">
                        Please enter a unique username up to 20 characters long.
                    </small>
                </div>
            </div>
            <div class="form-group row">
                <label for="pw_in" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="pw_in" name="password"
                        aria-describedby="pw_help_block"></input>
                    <small id="pw_help_block" class="form-text text-muted">
                        Should be at least 8 characters long, contain one upper and lowercase character and one digit.
                    </small>
                </div>
            </div>
            <div class="form-group row">
                <label for="pwc_in" class="col-sm-2 col-form-label">Confirm password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="pwc_in" name="confirm_password"
                        aria-describedby="cp_help_block"></input>
                    <small id="cp_help_block" class="form-text text-muted">
                        Please enter your password again.
                    </small>
                </div>
            </div>
            <button class="btn btn-primary" type="submit" name="submit">Register</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block script_block %}
{% endblock %}