{% extends 'settle/base.html' %}
{% load staticfiles %}

{% block style_block %}
    <!-- Import custom CSS here! -->
{% endblock %}

{% block title_block %}Suggest Tag{% endblock %}

{% block body_block %}
    <!-- Code here! -->
    <form id="suggest-form" method="post" action="{% url 'tags' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ suggest_form.as_p }}
        <input type="hidden" name="user" value="{{ user }}"/>
        <input type="submit" name="submit" value="Suggest"/>
    </form>

    <span id="preview-tag" class="btn tag mb-1"
                    style="background-color: #FFFF00">Your Text Here</span>
{% endblock %}

{% block script_block %}
    <!-- Import custom JS here! -->
    <script src="{% static "js/suggest_tag.js" %}"></script>
{% endblock %}