{% extends 'settle/base.html' %}
{% load staticfiles %}

{% block style_block %}
    <!-- Import custom CSS here! -->
{% endblock %}

{% block title_block %}Upload{% endblock %}

{% block body_block %}
    <!-- Code here! -->
    <p> Game Tags: |
    {% for tag in game_tags %}
        {{ tag }} |
    {% endfor %}
    </p>

    <p> Info Tags: |
        {% for tag in info_tags %}
            {{ tag }} |
        {% endfor %}
    </p>
    
{% endblock %}

{% block script_block %}
    <!-- Import custom JS here! -->
{% endblock %}