{% extends 'settle/base.html' %}
{% load staticfiles %}

{% block style_block %}
    <!-- Import custom CSS here! -->
    <link rel="stylesheet" type="text/css" href="{% static "css/upload.css" %}">
{% endblock %}

{% block title_block %}Upload{% endblock %}

{% block body_block %}
    <div class = "row-2" align = "center">
        <h1>Upload a photo</h1><br />
        <p>Select an image from your computer, enter a description, select a game tag, and then select info tags to describe your photo!</p>
        <p>You can remove a tag by clicking on it.</p>
    </div>
    <div class = "row-10">
        <form id="upload_post" method="post" action="{% url 'upload' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ upload_form.as_p }}
            <input type="submit" name="submit" value="Upload!"/>
        </form>
    </div>  
{% endblock %}

{% block script_block %}
    <!-- Import custom JS here! -->
{% endblock %}